@use 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-base overflow-hidden;
  font-family: var(--font-montserrat);
  color: var(--color-foreground);
  background-color: #0e0f0f;

  @media (max-width: 1200px) {
    font-size: 16px;
  }
  @media (max-width: 992px) {
    font-size: 14px;
  }
}
